<!DOCTYPE html>
<html 

	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/cliente/home}">
	

	<body>
		   
		<div layout:fragment="content">
		   
		   <div id="mensagemErro" th:if="${msg != null}">
		   		<span th:text="${msg}"></span> <br />
		   </div> 
		   
		   <div>
		       <h1>SEU PEDIDO</h1>
		       <img th:if="${carrinho.restaurante != null}" th:src="@{/images/logotipo/} + ${carrinho.restaurante.logotipo}" id="imgIconeRestaurante">
		   </div>
		   <br><br>
		   
		   <div th:each="item : ${carrinho.itens}">
		       <span id="restauranteOpcaoTitulo" th:text="${item.itemCardapio.nome}" ></span><br>
		       <span id="restauranteOpcaoTaxa"   th:text="'Quantidade: ' + ${item.quantidade}" ></span><br>
		       <span id="restauranteOpcaoTaxa"   th:text="${item.observacoes}" ></span><br>
		       <span id="restauranteOpcaoTaxa"   th:text="${#numbers.formatCurrency(item.preco)}"></span><br>
		       <br>
		       <input type="button" value="Remover" th:onclick="'location.href=\'' + @{/cliente/carrinho/remover} + '?itemId=' + ${item.itemCardapio.getId()} + '\';'">
		   </div>
		   <br><br>
		   
		   <div th:if="${carrinho.vazio()}">
		   		<span>O carrinho não possui itens</span>
		   </div>
		   <br />
		   
		   <div th:if="${!carrinho.vazio()}">
			    <div>
			        <span id="restauranteOpcaoTitulo">Taxa de entrega</span><br />
			        <span id="restauranteOpcaoTaxa"   th:text="${#numbers.formatCurrency(carrinho.restaurante.taxaEntrega)}" ></span><br />
			    </div>
			    <br><br>
			
			    <div>
			        <span id="restauranteOpcaoTitulo">Total</span><br />
			        <span id="restauranteOpcaoTaxa"   th:text="${#numbers.formatCurrency(carrinho.getPrecoTotal(true))}" ></span><br />
			    </div>
			    <br><br>
			    
			    <div>
			    	<input type="button" value="Continuar comprando" th:onclick="'location.href=\'' + @{/cliente/restaurante} + '?restauranteId=' + ${carrinho.restaurante.id}  + '\';'">
			    	<br><br>
				</div>
				
			    <div>
			        <span id="restauranteOpcaoTitulo">Cartão de crédito</span><br>
			        <input type="text" name="cartao" id="">
			    </div>
			    <br>
			    <div>
			        <input type="button" value="Enviar pedido"><br>			        
			    </div>
		    </div>
		    
	    </div>
	</body>
</html>