<!DOCTYPE html>
<html 

	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	

<body>
   
	<div layout:fragment="content">

	    <div>
	        <img th:src="@{/images/bf_iconeUsuario.png}" alt="" id="imgIconeUsuario" />
	        <h1>Autenticação</h1>
	        <form th:action="@{/login}" method="post">
	            <fieldset>
	            <input type="text" name="username" placeholder="E-mail..." /> <!-- O name tem que ser username para o Spring enxergar a informação -->
	            <input type="password" name="password" placeholder="Senha.." /> <!-- O name tem que ser password para o Spring enxergar a informação -->
	            <input type="submit" value="Entrar" />
	        </fieldset>
	        </form>
	        <br/> 
	        <div id="mensagemErro" th:if="${msg != null}">
	            <span th:text="${msg}"></span>
	        </div>
	        <br/>
	        
	        <form method="get" th:action="@{/public/cliente/new}">
	        	<input type="submit" value="Gostaria de criar minha conta de cliente">
	        </form>	        
	        <br/>
	        
	        <form method="get" th:action="@{/public/restaurante/new}">
	        	<input type="submit" value="Gostaria de criar minha conta de restaurante">
	        </form>	        
	        <br/>
	        
	    </div>
    
    </div>

</body>
</html>